{% load i18n url_tags %}
<div id="disqus_thread"></div>
<script type="text/javascript">
/* <![CDATA[ */
var disqus_shortname = 'wlanslovenija';
var disqus_identifier = 'cmsplugin-blog-id-{{ object.pk|escapejs }}-{{ title.language|escapejs }}';
var disqus_url = '{% fullurl title.get_absolute_url %}';
var disqus_title = '{{ title|escapejs }}';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
/* ]]> */
</script>
<noscript><p>{% trans "Please enable JavaScript to view the comments." %}</p></noscript>
