/mainpage/media/admin
/mainpage/media/cms*
/mainpage/media/simple_translation
/mainpage/media/filer
/mainpage/media/jquery*
/mainpage/media/files
/mainpage/media/thumbnails
/mainpage/media/missing
/mainpage/smedia
/mainpage/tracwiki/cache
/mainpage/secrets.py
*.pyc
*.swp
