Django==1.4
Genshi==0.6
Markdown==2.1.1
PIL==1.1.7
PyYAML==3.10
Pygments==1.5
South==0.7.5
Trac==0.12.3
amqplib==1.0.2
anyjson==0.3.1
async==0.6.1
chardet==1.0.1
-e git+https://github.com/fivethreeo/cmsplugin-blog.git@169eb9c42cfbf14181e07c06a328e01afadf9478#egg=cmsplugin_blog-dev
-e git+https://github.com/maccesch/cmsplugin-contact.git@ea95740655582faf603cb2f0f772f3600f952a6b#egg=cmsplugin_contact-dev
-e git+https://github.com/stefanfoulis/cmsplugin-filer.git@9f2e5959c25b849ba64d4a6be10d6ccd7278e050#egg=cmsplugin_filer-dev
cmsplugin-markup==0.2.2
cmsplugin-markup-tracwiki==0.2.2
distribute==0.6.27
django-appconf==0.5
django-classy-tags==0.3.4.1
-e git+https://github.com/mitar/django-cms.git@0bcf0409d5a052f136850cd03f6b54149a3983c5#egg=django_cms-dev
-e git+https://github.com/mitar/django-filer.git@d9917b1458c5abd41f47bc98c56d197d4ccd6fa0#egg=django_filer-dev
django-missing==0.1.5
django-mptt==0.5.2
django-paypal==0.1.2
django-phonenumber-field==0.2a3
django-picklefield==0.2.1
django-polymorphic==0.2
django-registration==0.8
django-reversion==1.6.0
django-sekizai==0.6.1
django-staticfiles==1.2.1
django-tagging==0.3.1
djangocms-utils==0.9.5
docutils==0.9.1
easy-thumbnails==1.0.3
flup==1.0.2
html5lib==0.95
kombu==2.1.7
lxml==2.3.4
ordereddict==1.1
phonenumbers==4.8b1
pymongo==2.1.1
pyparsing==1.5.6
python-dateutil==1.5
python-memcached==1.48
pytz==2012c
recaptcha-client==1.0.6
simple-translation==0.8.6
smmap==0.8.2
textile==2.1.5
wsgiref==0.1.2
