Django==1.4.0
Genshi==0.6
Markdown==2.1.1
Pillow==4.2.1
PyYAML==3.10
Pygments==1.5
South==0.7.5
Trac==0.12.3
amqplib==1.0.2
anyjson==0.3.1
async==0.6.1
chardet==1.0.1
cmsplugin-markup==0.2.2
cmsplugin-markup-tracwiki==0.2.2
distribute==0.7.3
django-appconf==0.5
django-classy-tags==0.3.4.1
django-missing==0.1.11
django-mptt==0.5.2
django-paypal==0.1.2
django-phonenumber-field==0.2a3
django-picklefield==0.2.1
django-polymorphic==0.2
django-registration==0.8
django-reversion==1.6.0
django-sekizai==0.6.1
django-staticfiles==1.2.1
django-tagging==0.3.1
djangocms-utils==0.9.5
docutils==0.9.1
easy-thumbnails==1.0.3
flup==1.0.2
html5lib==0.95
kombu==2.1.7
lxml==2.3.4
ordereddict==1.1
phonenumbers==4.8b1
pymongo==2.1.1
pyparsing==1.5.6
python-dateutil==1.5
python-memcached==1.48
pytz==2012c
recaptcha-client==1.0.6
smmap==0.8.2
textile==2.1.5
wsgiref==0.1.2
uwsgi==2.0.15
svn+https://trac-hacks.org/svn/footnotemacro/trunk/#egg=tracfootnotemacro
git+https://github.com/mitar/trac-mathjax.git@e5b2bcbd8ec74685407c6fb2e71fb56cc2f47484#egg=mathjaxplugin
svn+https://trac-hacks.org/svn/dashessyntaxplugin/0.11/#egg=TracDashesSyntaxPlugin
hg+https://bitbucket.org/kisielk/tracmathplugin#egg=tracmath
git+https://github.com/herzbube/python-aprmd5.git#egg=python-aprmd5
git+https://github.com/maccesch/cmsplugin-contact.git@ea95740655582faf603cb2f0f772f3600f952a6b#egg=cmsplugin-contact
git+https://github.com/stefanfoulis/cmsplugin-filer.git@9f2e5959c25b849ba64d4a6be10d6ccd7278e050#egg=cmsplugin_filer
git+https://github.com/mitar/django-cms.git@0bcf0409d5a052f136850cd03f6b54149a3983c5#egg=django_cms
git+https://github.com/mitar/django-filer.git#egg=django_filer
git+https://github.com/wlanslovenija/simple-translation.git@94c5e5639532411e070e9746c0ebd802e142b208#egg=simple_translation
git+https://github.com/wlanslovenija/cmsplugin-blog.git@0829d67e47934ab021206661ad5df7e7e1573b89#egg=cmsplugin_blog
