Django==1.3.1
-e svn+http://trac-hacks.org/svn/footnotemacro/0.11@10434#egg=FootNoteMacro-dev_r10434
Genshi==0.6
Markdown==2.1.1
-e hg+https://bitbucket.org/mitar/trac-mathjax@8aad2f1b17e2b6f0ddb1a616a109b9b88428de59#egg=MathJaxPlugin-tip
PIL==1.1.7
PyYAML==3.10
Pygments==1.5
South==0.7.5
Trac==0.12.3
-e svn+http://trac-hacks.org/svn/dashessyntaxplugin/0.11@8543#egg=TracDashesSyntaxPlugin-dev_r8543
-e hg+https://bitbucket.org/kisielk/tracmathplugin@05cd705cc9eadf322d5b8395fad1ffb0a6efeab5#egg=TracMath-tip
amqplib==1.0.2
anyjson==0.3.1
chardet==1.0.1
-e git+https://github.com/mitar/cmsplugin-blog.git@bfd0cc5c6067af34587108a53161397f9c227643#egg=cmsplugin_blog-1.1.2.post.0-py2.6-mitar
cmsplugin-contact==1.0.0
-e git+https://github.com/mitar/cmsplugin-filer.git@ee0dd260639c3d19494299a21e64fd24db57d5d9#egg=cmsplugin_filer-dev
cmsplugin-markup==0.2
cmsplugin-markup-tracwiki==0.2.1
distribute==0.6.27
django-appconf==0.5
django-classy-tags==0.3.4.1
-e git+https://github.com/mitar/django-cms.git@d6633343275c1cceb4f7329640bc3917b11cec12#egg=django_cms-2.2-py2.6-master-issue878
-e git+https://github.com/mitar/django-filer.git@32eec80638dbface6690f55b4848b036f341df46#egg=django_filer-0.9a1-py2.6-small-bugfix
django-missing==0.1.4
django-mptt==0.4.2
django-phonenumber-field==0.2a3
django-picklefield==0.2.1
django-polymorphic==0.2
django-registration==0.8
django-reversion==1.4
django-sekizai==0.5
django-staticfiles==1.2.1
django-tagging==0.3.1
djangocms-utils==0.9.5
docutils==0.9
easy-thumbnails==1.0.3
flup==1.0.2
html5lib==0.95
importlib==1.0.2
kombu==2.1.7
lxml==2.3.4
ordereddict==1.1
phonenumbers==4.8b1
psycopg2==2.2.1
pymongo==2.1.1
pyparsing==1.5.6
python-aprmd5==0.2
python-dateutil==1.5
python-memcached==1.48
pytz==2012c
recaptcha-client==1.0.6
simple-translation==0.8.6
textile==2.1.5
wsgiref==0.1.2
