
.right-col, .middle-col, .left-col {
	display: inline-block;
	width: 298px;
	padding: 25px 0;
	float: none;
	vertical-align: top;
}

.showcase {
	border-radius: 0px 0px 4px 4px;
	background-color: #68ae2c;
}

.middle-col, .left-col {
	padding-right: 29px;
}

.motivation {
	height: 150px;
	display: inline-block;
	width: 19%;
	text-align: center;
	vertical-align: top;
	color: #ffffff;
	font-size: 110%;
}

.motivation-1 { text-align: left; padding-left: 15px; }

.motivation-5 { text-align: right; padding-right: 15px; }

.ssid {
	font-size: 180%;
	font-weight: bold;
}

.blog_latest_entries p {
	margin-bottom: 10px;
}

.blog_latest_entries p a {
	border: none;
}

.blog_latest_entries p .date {
	display: block;
	text-align: right;
	font-size: 90%;
}

#panorama {
	width: 960px;
	height: 250px;
	overflow: hidden;
}
