
.right-col, .middle-col, .left-col {
	display: inline-block;
	width: 298px;
	padding: 25px 0;
	float: none;
	vertical-align: top;
}

.showcase {
	border-radius: 4px;
	background-color: #68ae2c;
	text-align: center;
}

.middle-col, .left-col {
	margin-right: 28px;
}

.motivation {
	height: 150px;
	display: inline-block;
	width: 19%;
	text-align: center;
	vertical-align: top;
	color: #ffffff;
	font-size: 110%;
}

.motivation-1 { text-align: left; }

.motivation-5 { text-align: right; }

.ssid {
	font-size: 180%;
	font-weight: bold;
	margin: 20px 0;
}

.ssid p {
	margin: 5px 0;
}

.migration {
	font-size: 110%;
	padding: 10px;
	text-align: center;
	margin: 20px 0;
	border: 1px #aaaaaa solid;
	border-radius: 4px 4px 4px 4px;
}

ul.tweet_list,
.blog_latest_entries ul {
	list-style: none;
	padding: 0;
}

ul.tweet_list li,
.blog_latest_entries li {
	margin-bottom: 15px;
	clear: both;
}

.blog_latest_entries li a {
	border: none;
	font-size: 110%;
}

ul.tweet_list .tweet_time,
.blog_latest_entries li .date {
	display: block;
	font-size: 80%;
	color: #676767;
}

ul.tweet_list a {
	border: none;
}

ul.tweet_list .tweet_avatar {
	margin-right: 5px;
	float: left;
}


.randomimage a.more,
a.blog-link,
a.twitter-link {
	border: none;
	display: block;
	margin: 10px;
	text-align: right;
	padding-right: 25px;
	height: 17px;
	background: transparent url('images/go_right.png') no-repeat 100% 0px;
}

.randomimage a.more:hover,
a.blog-link:hover,
a.twitter-link:hover {
	background: transparent url('images/go_right.png') no-repeat 100% -18px;
}

ul.tweet_list li.empty {
	font-size: 110%;
	text-align: center;
}

#panorama {
	width: 960px;
	height: 250px;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 4px 4px 0px 0px;
}

.statistics {
	padding: 10px;
}

.statistics span {
	display: block;
	font-size: 150%;
	color: #969696;
	font-weight: bold;
	padding: 25px 5px 5px 50px;
	height: 42px;
}

.statistics .statistics-nodes {
	background: transparent url('images/online_nodes.png') no-repeat center left;
}

.statistics .statistics-online {
	background: transparent url('images/online_clients.png') no-repeat center left;
}

.statistics .statistics-clients {
	background: transparent url('images/total_clients.png') no-repeat center left;
}
