
.right-col, .middle-col, .left-col {
	display: inline-block;
	width: 298px;
	padding: 25px 0;
	float: none;
	vertical-align: top;
}

.middle-col, .left-col {
	padding-right: 25px;
}

.motivation {
	height: 150px;
	display: inline-block;
	width: 20%;
	text-align: center;
}

.motivation-1, .motivation-5 {
	width: 19%;
}

.ssid {
	font-size: 180%;
	font-weight: bold;
}

.blog_latest_entries p {
	margin-bottom: 10px;
}

.blog_latest_entries p a {
	border: none;
}

.blog_latest_entries p .date {
	display: block;
	text-align: right;
	font-size: 90%;
}

#panorama {
	width: 960px;
	height: 250px;
	overflow: hidden;
}
