.right-col, .middle-col, .left-col {
	display: inline-block;
	width: 298px;
	padding: 25px 0;
	float: none;
	vertical-align: top;
}

.showcase {
	border-radius: 4px;
	background-color: #68ae2c;
	text-align: center;
}

.middle-col, .left-col {
	margin-right: 28px;
}

.motivation {
	/* height: 150px; */
	/* vertical-align: top; */
	vertical-align: middle;
	display: inline-block;
	width: 19%;
	text-align: center;
	color: #ffffff;
	font-size: 110%;
}

.motivation-1 { text-align: left; }

.motivation-5 { text-align: right; }

.connect {
	font-size: 180%;
	font-weight: bold;
	margin: 20px 0;
}

.connect p {
	margin: 5px 0;
}

.connect :link, .connect *:visited {
	text-decoration: none;
}

.migration {
	font-size: 110%;
	padding: 10px;
	text-align: center;
	margin: 20px 0;
	border: 1px #aaaaaa solid;
	border-radius: 4px 4px 4px 4px;
}

ul.tweet_list,
.blog_latest_entries ul {
	list-style: none;
	padding: 0;
}

ul.tweet_list li,
.blog_latest_entries li {
	margin-bottom: 15px;
	clear: both;
}

.blog_latest_entries li a {
	border: none;
	font-size: 110%;
}

ul.tweet_list .tweet_time,
.blog_latest_entries li .date {
	display: block;
	font-size: 80%;
	color: #676767;
}

ul.tweet_list a {
	border: none;
}

ul.tweet_list li {
    margin-left: 40px;
}

ul.tweet_list .tweet_avatar {
    margin-left: -40px;
    float: left;
}

.randomimages a.more,
a.blog-link,
a.twitter-link,
.donate a {
	border: none;
	display: block;
	margin: 10px;
	text-align: right;
	padding-right: 25px;
	height: 17px;
	background: transparent url('images/go_right.png') no-repeat 100% 0px;
}

.randomimages a.more:hover,
a.blog-link:hover,
a.twitter-link:hover,
.donate a:hover {
	background: transparent url('images/go_right.png') no-repeat 100% -18px;
}

.donate p {
    margin-top: -1em;
}

.twitter-link-p, a.twitter-link {
	margin-top: 0;
}

ul.tweet_list li.empty {
	font-size: 110%;
	text-align: center;
}

#panorama {
	width: 960px;
	height: 250px;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 4px 4px 0px 0px;
}

#panorama .toggle {
	display: none;
	width: 16px;
	height: 16px;
	background: transparent url('images/pause.png') no-repeat 0px 0px;
	overflow: hidden;
	text-indent: 16px;
	outline: none;
	border: none;
}

#panorama .toggle.play {
	background: transparent url('images/play.png') no-repeat 0px 0px;
}

#panorama .toggle:hover {
	background: transparent url('images/pause.png') no-repeat 0px -19px;
}

#panorama .toggle.play:hover {
	background: transparent url('images/play.png') no-repeat 0px -19px;
}

#panorama:hover .toggle {
	display: block;
}

.statistics {
	padding: 10px;
	display: block;
}

.statistics span {
	display: block;
	font-size: 150%;
	color: #969696;
	font-weight: bold;
	padding: 25px 5px 5px 50px;
	height: 42px;
}

.statistics .statistics-nodes {
	background: transparent url('images/online_nodes.png') no-repeat center left;
}

.statistics .statistics-connected {
	background: transparent url('images/connected_clients.png') no-repeat center left;
}

.statistics .statistics-clients {
	background: transparent url('images/total_clients.png') no-repeat center left;
}

.showcase :link, .showcase *:visited {
    color: #ffffff;
    border: none;
    text-decoration: underline;
}

.showcase :link:hover, .showcase *:visited:hover {
    color: #050505;
}

.motivation-5 p {
    margin-bottom: 0.4em;
}

.wlan-description p {
    margin-top: 0;
    font-size: 0.66em;
    margin-bottom: 1.66em;
}

#content h3 {
    display: none;
}

.simplemap a {
    border: none;
}
