{% load i18n l10n staticfiles sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;region=SI"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static "wlansi/js/map.js" %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript">
    /* <![CDATA[ */
    var nodes = [
        {% for node in nodes %}
            {'lat': {{ node.geo_lat|unlocalize }}, 'long': {{ node.geo_long|unlocalize }}, 'name': '{{ node.name|escapejs }}', 'url': '{{ node.get_full_url|escapejs }}'}{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
    var MAP_LATITUDE = '{{ MAP_LATITUDE|escapejs }}';
    var MAP_LONGITUDE = '{{ MAP_LONGITUDE|escapejs }}';
    var MAP_ZOOM = {{ MAP_ZOOM }};
    /* ]]> */
</script>
{% endaddtoblock %}

<div class="map">
    <div id="map_canvas"></div>
    <div class="map_status"></div>
</div>