{% load i18n thumbnail %}

{% if object.view_option == "list" %}
    {% firstof object.title object.folder.name  %}

    <div class="cmsplugin_filer_folder_list" id="folder_{{ instance.id }}">
        {% if folder_children %}
        <p>{% trans "Folders" %}</p>
        <ul>
            {% for folder in folder_children %}
                <li>{{ folder }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if folder_files %}
        <p>{% trans "Files" %}</p>
        <ul>
            {% for files in folder_files %}
                <li>{{ files }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if folder_images %}
        <p>{% trans "Images" %}</p>
        <ul class="image-folder-list">
            {% for image in folder_images %}
                <li><img src="{% thumbnail image.file 32x32 crop="True" upscale="True" %}" width="32" height="32" alt="{{ image.label }}" /></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% elif object.view_option == "supporters" %}
    <ul class="supporters-logo">
    {% for image in folder_images %}
        {% thumbnail image.file 180x0 crop=0 upscale=0 as thumbnail %}
        <li><a href="{{ image.image.description }}"><img src="{{ thumbnail.url }}" alt="{{ image.image.default_alt_text }}" title="{{ image.image.default_caption|default:image.image.default_alt_text }}"  width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" /></a></li>
    {% endfor %}
    </ul>
{% elif object.view_option == "panoramajs" %}
    <script type="text/javascript" src="{{ STATIC_URL }}wlansi/js/panorama.js"></script>
    <script type="text/javascript">
    //<![CDATA[
    var panoramas = [ {% for image in folder_images %}"{{ image.image.url }}", {% endfor %} ];
    jQuery(document).ready(function ($) {
        $('#panorama').panorama({
            images: panoramas
        });
    });
    //]]>
    </script><div id="panorama"></div>
{% else %}
    {% with max_images_number|default:"0"|add:"0" as max_images_number %}
        <div class="image-folder">
        {% for image in folder_images %}
            {% thumbnail image.file 160x160 crop="True" upscale=0 as thumbnail %}
            <a href="{{ image.image.url }}"{% if max_images_number and forloop.counter > max_images_number %} class="hidden-image"{% endif %}><img src="{{ thumbnail.url }}" alt="{{ image.label }}"{% if thumbnail.width %} width="{{ thumbnail.width }}"{% endif %}{% if thumbnail.height %} height="{{ thumbnail.height }}"{% endif %} /></a>
        {% endfor %}
        </div>
    {% endwith %}
{% endif %}
