{% load i18n staticfiles cms_tags sekizai_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block fulltitle %}{% block title %}{{ current_page.get_page_title }}{% endblock %} – wlan slovenija{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta property="fb:admins" content="100001573909985" />
        <link rel="shortcut icon" href="{% static "wlansi/images/favicon.ico" %}" type="image/x-icon" />
        <link rel="icon" href="{% static "wlansi/images/favicon.ico" %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static "wlansi/jquery-visage/res-alt/visage.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "wlansi/css/common.css" %}" type="text/css" />
        {% render_block "css" %}
        <script type="text/javascript" src="{% static "wlansi/jquery/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "wlansi/jquery-visage/src/jquery.visage.js" %}"></script>
        <script type="text/javascript" src="{% static "wlansi/js/jquery.visage.init.js" %}"></script>
        <script type="text/javascript" src="{% static "wlansi/js/common.js" %}"></script>
        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
        <script type="text/javascript" src="https://members.internetdefenseleague.org/include/?variant=banner" async="true"></script>
        {% render_block "js" %}
        {% block extrahead %}{% endblock %}
        {% block js %}{% endblock %}
        {% block css %}{% endblock %}
    </head>
    <body class="locale-{{ LANGUAGE_CODE }}">
        <div class="background">
            {% block header %}{% include "header.html" %}{% endblock %}
            <div id="content">
                {% block content %}{% endblock %}
                <div class="clear"></div>
            </div>
            {% block footer %}{% include "footer.html" %}{% endblock %}
            {% block bodyend %}{% endblock %}
        </div>
    </body>
</html>
