{% extends "base.html" %}

{% load i18n staticfiles cms_tags sekizai_tags %}

{% block fulltitle %}{% trans "wlan slovenija – open wireless network of Slovenia" %}{% endblock %}

{% block content %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static "wlansi/css/main.css" %}" type="text/css" />{% endaddtoblock %}
    <div class="showcase">
        {% placeholder main_content %}
    </div>
    <div class="left-col">
        {% placeholder main_left %}
    </div>
    <div class="middle-col">
        {% placeholder main_middle %}
    </div>
    <div class="right-col">
        {% placeholder main_right %}
    </div>
{% endblock %}
