{% load i18n cms_tags %}

<a href="{% page_url "opennetwork" %}" title="{% trans "Open network" %}">
    <span class="statistics">
        <span class="statistics-nodes">
            {% blocktrans count nodes_count=nodes_count %}{{ nodes_count }} active node{% plural %}{{ nodes_count }} active nodes{% endblocktrans %}
        </span>
        <span class="statistics-connected">
            {% blocktrans count clients_connected=clients_connected %}{{ clients_connected }} client connected{% plural %}{{ clients_connected }} clients connected{% endblocktrans %}
        </span>
        <span class="statistics-clients">
            {% blocktrans count clients_ever=clients_ever %}{{ clients_ever }} client so far{% plural %}{{ clients_ever }} clients so far{% endblocktrans %}
        </span>
    </span>
</a>
