{% extends "base.html" %}

{% block extrahead %}
{{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url blog_rss %}" />
{% endblock extrahead %}

{% block title %} – Blog {{ block.super }}{% endblock %}

{% block content %}
    <div class="left-col">
        {% block left-col %}{% endblock %}
    </div>
    <div class="right-col">
        {% block right-col %}{% endblock %}
    </div>
{% endblock %}:
