{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags simple_translation_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS feed for author {{ author|escape }}" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url blog_rss_author author %}" />
<link rel="alternate" type="application/rss+xml" title="RSS feed for author {{ author|escape }} (any language)" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url blog_rss_any_author author %}" />
{% endblock extrahead %}

{% block title %}{% trans "Entries by" %} {{ author }}{{ block.super }}{% endblock %}

{% block left-col %}
<div class="entry-list">
<h2 id="entries-by">{% trans "Entries by" %} {{ author }}</h2>
{% if object_list %}
    <ul>
    {% for object in object_list|annotate_with_translations %}
        {% include "cmsplugin_blog/list_entry.html" %}
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No entries by" %} {{ author }}.<p>
{% endif %}
</div>
{% endblock %}

{% block right-col %}
{% render_author_links %}
{% render_month_links %}
{% render_tag_links %}
{% endblock %}

{% block bodyend %}
{% include "cmsplugin_blog/disqus_count.html" %}
{% endblock %}
