{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load placeholder_tags cmsplugin_blog_tags simple_translation_tags i18n %}

{% block title %}{% with object|get_preferred_translation_from_request:request as title %}{{ title }}{% endwith %}{{ block.super }}{% endblock %}

{% block left-col %}
{% with object|get_preferred_translation_from_request:request as title %}
    <div class="blog-entry{% if object.is_not_published %} notpublished{% endif %}">
    <h2 id="{{ title.slug }}">{{ title }} {{ object|render_language_choices:request|safe }}{% if object.is_not_published %} <i>{% trans "[not published]" %}</i>{% endif %}</h2>
    <div class="entry-content">
    {% with object.placeholders|choose_placeholder:"on_index_page" as on_index_page %}
        {% render_placeholder on_index_page %}
    {% endwith %}
    {% with object.placeholders|choose_placeholder:"the_rest" as the_rest %}
        {% render_placeholder the_rest %}
    {% endwith %}
    </div>
    {% include "cmsplugin_blog/description_entry.html" %}
    {% include "cmsplugin_blog/disqus_entry.html" %}
    </div>
{% endwith %}
{% endblock %}

{% block right-col %}
{% render_author_links %}
{% render_month_links %}
{% render_tag_links %}
{% endblock %}
