{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags simple_translation_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS feed for tag &quot;{{ tag|escape }}&quot;" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url blog_rss_tagged tag %}" />
{% endblock extrahead %}

{% block title %}{% trans "Entries tagged" %} "{{ tag }}"{{ block.super }}{% endblock %}

{% block left-col %}
<div class="entry-list">
<h2>{% trans "Entries tagged" %} "{{ tag }}"</h2>
{% if object_list %}
    <ul>
    {% for object in object_list|annotate_with_translations %}
        {% include "cmsplugin_blog/list_entry.html" %}
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No entries tagged" %} "{{ tag }}".</p>
{% endif %}
</div>
{% endblock %}

{% block right-col %}
{% render_author_links %}
{% render_month_links %}
{% render_tag_links %}
{% endblock %}
