{% load menu_tags context_tags cms_tags cmsplugin_blog_tags %}{% spaceless %}
<ul id="language-chooser">
{% for language in languages %}
{% if current_language == language.0 %}
<li class="current{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">{{ language.1|capfirst }}</li>
{% else %}
{% setcontext as blog_url %}{% blog_language_url language.0 %}{% endsetcontext %}<li{% if forloop.first %} class="first"{% endif %}{% if forloop.last %} class="last"{% endif %}><a href="{% if blog_url %}{{ blog_url }}{% else %}/{{ language.0 }}{% page_url "blog" language.0 %}{% endif %}">{{ language.1|capfirst }}</a></li>
{% endif %}
{% endfor %}
</ul>{% endspaceless %}
