{% load i18n tracwiki %}

<dl class="transactons">
    {% for transaction in transactions|dictsortreversed:"date" %}
        <dt>{{ transaction.date }}, {{ transaction.amount }} EUR</dt>
		{% if transaction.donor or transaction.is_anonymous %}
	        <dd>{% if transaction.is_anonymous %}{% trans "Anonymous donation" %}{% else %}{% blocktrans with donor=transaction.donor %}Donation from {{ donor }}{% endblocktrans %}{% endif %}</dd>
		{% else %}
	        <dd>{% tracwiki transaction.get_description %}</dd>
		{% endif %}
    {% endfor %}
</dl>
