body {
    margin: 0px;
    background: none;
    color: #656565;
    font-family:Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}

.milestone .info h2 em,
dt em,
*:link, *:visited {
    color: #528f63;
    border: none;
}

*:link:hover, *:visited:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #528f63;
}

#banner {
    margin: 0px auto;
    width: 860px;
    overflow: hidden;
    background: transparent url(header.png) no-repeat;
    height: 170px;
}

#header h1, #header h2 {padding: 0px; margin: 0px; display: inline; overflow: hidden; height: 1px;}
#header a span {display: none;}

#header h1 a {
    display: block;
    position: relative;
    left: 353px;
    background: transparent;
    width: 150px;
    height: 150px;
} 

#header h2 a {
    display: block;
    position: relative;
    left: 503px;
    top: -70px;
    background: transparent;
    width: 290px;
    height: 70px;
} 

#header a:hover {
    text-decoration: none;
}

#main {
    margin: 0px auto;
    width: 860px;
    margin-top: 0px;
    min-height: 300px;
}

#messages {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #867900;
  background-color: #FFFBD2;
  color: #867900;
  text-align: center;
  clear: both;
}

#messages ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
  margin: 2px 0;
}

.nodes .error,
#content.error .message {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #CD2D1D;
  background-color: #FFEBE9;
  color: #930E00;
  text-align: center;
  clear: both;
}

.nodes .notice {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #95DA3A;
  background-color: #E1FFB8;
  color: #3D6744;
  text-align: center;
  clear: both;
}

#warning.system-message {
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  width: 680px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #867900;
  background-color: #FFFBD2;
  color: #867900;
  text-align: center;
  clear: both;
}

h3.folding {
	cursor: pointer;
	margin: 20px 20px 10px 20px;
	background: transparent url(attachments_show.png) bottom left no-repeat;
	border-top: 1px solid #CCCCCC;
	padding-left: 20px;
	padding-top: 5px;
}

h3.folding.closed {
	background: transparent url(attachments_hide.png) bottom left no-repeat;
}

h3.folding:hover {
    background: transparent url(attachments_show_hover.png) bottom left no-repeat;
}

h3.folding.closed:hover {
    background: transparent url(attachments_hide_hover.png) bottom left no-repeat;
}

input[type="text"], input[type="password"], input.textwidget {
	padding:0.25em 0.5em;
}
input[type="text"], input[type="password"], input.textwidget, textarea {
	border:1px solid #D7D7D7;
}
input[type=text]:focus, input[type="password"]:focus, input.textwidget:focus, textarea:focus {
	 border: 1px solid #886;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
