{% if form %}
	<form action="" method="post">{% csrf_token %}
		<p><label>{{ contact.email_label }}</label><br />
				{{ form.email }}
			{% if form.email.errors %}
				{% for error in form.email.errors %}
					<div class="error">{{ error }}</div>
				{% endfor %}
			{% endif %}
		</p>
		<p>
			<label>{{ contact.subject_label }}</label><br />
				{{ form.subject }}
			{% if form.subject.errors %}
				{% for error in form.subject.errors %}
					<div class="error">{{ error }}</div>
				{% endfor %}
			{% endif %}
		</p>
		<p>
			<label>{{ contact.content_label }}</label><br />
				{{ form.content }}
			{% if form.content.errors %}
				{% for error in form.content.errors %}
					<div class="error">{{ error }}</div>
				{% endfor %}
			{% endif %}
		</p>
		<p>
			<input type="submit"{% if contact.submit %} value="{{ contact.submit }}"{% endif %} />
		</p>
	</form>
{% else %}
	<p><strong>{{ contact.thanks }}</strong></p>
{% endif %}
