<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <py:match path="script[@src='/chrome/common/js/jquery.js']">
    <script type="text/javascript" src="${href.chrome('site/jquery.js')}" ></script>
  </py:match>
  <head py:match="head" py:attrs="select('@*')">
    ${select('*|comment()|text()')}
    <py:if test="req.environ['PATH_INFO'].startswith('/blog') or req.environ['PATH_INFO'] == '/'">
      <script type="text/javascript">
        jQuery(document).ready(function($) {
          $("#content").find("h1,h2,h3,h4,h5,h6").filter("[id]").addAnchor("Link to this section");
        });
      </script>
    </py:if>
    <link rel="stylesheet" type="text/css" href="${href.chrome('site/common.css')}" />
    <link rel="stylesheet" type="text/css" href="${href.chrome('site/trac.css')}" />
    <link rel="stylesheet" type="text/css" href="${href.chrome('site/visage.css')}" />
    <script type="text/javascript" src="${href.chrome('site/folding.js')}" ></script>
    <script type="text/javascript" src="${href.chrome('site/jquery.visage.js')}" ></script>
    <script type="text/javascript" src="${href.chrome('site/jquery.visage.init.js')}" ></script>
  </head>
  <py:match path="title">
    <title>${Markup(select('text()').__str__().decode("utf-8").strip()).unescape()} – odprto brezžično omrežje Ljubljane</title>
  </py:match>
  <?python homeurl = '/'
           if req.environ['HTTP_HOST'] != 'wlan-lj.net':
             homeurl = '/trac/wlanlj'
             homeurl = Markup(homeurl)
  ?>
  <div id="header" py:match="div[@id='header']">
    <h1><a href="$homeurl"><span>$project.name</span></a></h1>
    <h2><a href="$homeurl"><span>$project.descr</span></a></h2>
  </div>
  <py:match path="div[@id='footer']" />
  <py:match path="div[@id='mainnav']//li">
    <?python content = select('*|text()').__str__().decode("utf-8")
             if req.environ['HTTP_HOST'] != 'wlan-lj.net':
               content = content.replace('href="/wiki', 'href="/trac/wlanlj/wiki')
             content = Markup(content)
    ?>
    <py:choose test="">
      <py:when test="(select('a').select('@href').__str__() != '') and (req.environ['PATH_INFO'].startswith(select('a').select('@href').__str__()) or ('/trac/wlanlj' + req.environ['PATH_INFO']).startswith(select('a').select('@href').__str__()))">
        <li class="active">${content}</li>
      </py:when>
      <py:when test="select('text()').__str__().startswith('&lt;a href=&quot;' + req.environ['PATH_INFO'] + '&quot;&gt;')">
        <li class="active">${content}</li>
      </py:when>
      <py:when test="req.environ['PATH_INFO'].startswith('/wiki/') and select('text()').__str__().startswith('&lt;a href=&quot;' + '/'.join(req.environ['PATH_INFO'].split('/', 3)[0:3]) + '&quot;&gt;')">
        <li class="active">${content}</li>
      </py:when>
      <py:otherwise>
        <li>${content}</li>
      </py:otherwise>
    </py:choose>
  </py:match>
  <py:if test="req.environ['PATH_INFO'].startswith('/wiki') or req.environ['PATH_INFO'].startswith('/blog') or req.environ['PATH_INFO'] == '/'">
    <py:match path="div[@id='altlinks']" />
  </py:if>
  <py:if test="req.environ['PATH_INFO'] == '/browser'">
    <py:match path="div[@id='content']//h1">
      <p>Več o dostopu do izvorne kode in uporabi repozitorija <a href="/wiki/Podrobnosti/Razvoj/Repozitorij">tu</a>.</p>
      <p>More about access to source code and repository usage <a href="/wiki/International/English/GetSource">here</a>.</p>
      <h1>
        ${select('*|text()')}
      </h1>
    </py:match>
  </py:if>
  <py:if test="req.environ['PATH_INFO'] == '/newticket'">
    <py:match path="div[@id='content']//h1">
      <h1>
        ${select('*|text()')}
      </h1>
      <p>Več o odpiranju ticketov <a href="/wiki/Podrobnosti/Razvoj/Trac#Odpiranjeticketov">tu</a>.</p>
    </py:match>
  </py:if>
  <py:match path="div[@id='mainnav']//ul">
    <ul>
      ${select('*|text()')}
      <li id="donate"><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><div>
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="3295105" />
        <input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donate_SM.gif" style="border: none;" name="submit" alt="Donate" /></div>
      </form></li>
    </ul>
	</py:match>
  <py:match path="div[@id='content' or @id='blog-main']/h3">
    <h3 id="attachments_folder" class="folding closed">${select('text()')}</h3>
  </py:match>
  <py:match path="div[@id='content']">
    ${select("./p[@class='path']")}
    <div id="content" class="${select('attribute::class')}">
      ${select("./*[@class!='path']")}
    </div>
  </py:match>
  <py:if test="req.environ['PATH_INFO'].startswith('/wiki/Tocke/')">
    <py:match path="select[@name='template']//option">
      <py:choose test="">
        <py:when test="select('text()').__str__() == 'Tocke'"><option selected="selected">Tocke</option></py:when>
        <py:when test="select('text()').__str__() == '(blank page)'"><option value="">(blank page)</option></py:when>
        <py:otherwise><option>${select('text()')}</option></py:otherwise>
      </py:choose>
    </py:match>
  </py:if>
  <py:match path="div[@class='blog-list-title']">
    <py:choose test="">
      <py:when test="req.environ['PATH_INFO'] == '/'">
        <p class="welcome">Pozdravljen/a na spletni strani odprtega brezžičnega omrežja Ljubljane <i>wlan ljubljana</i>. Če omrežja še ne poznaš, te vabimo, da si prebereš <a class="wiki" href="/wiki/OOmrezju">o omrežju</a> in se razgledaš naokoli po strani. Mogoče te premami, da se nam pridružiš in v omrežju <a class="wiki" href="/wiki/Sodeluj">sodeluješ</a> tudi ti.</p>
      </py:when>
      <py:when test="req.environ['PATH_INFO'] == '/blog'"><h1 class="blog-list-title">Zadnji prispevki</h1></py:when>
      <py:otherwise><h1 class="blog-list-title">${select('*|text()')}</h1></py:otherwise>
    </py:choose>
  </py:match>
  <py:if test="req.environ['PATH_INFO'].startswith('/timeline')"> 
    <py:match path="div[@id='content']//h1" />
    <py:match path="form[@id='prefs']"><form id="prefs" method="get" action="">${select('*|text()')}</form><h1>Timeline</h1></py:match>
  </py:if>
  <py:if test="req.environ['PATH_INFO'] == '/blog/archive'">
    <py:match path="div[@id='blog-main']"><div id="blog-main" class="blog-archive">${select('*|text()')}</div></py:match>
  </py:if>
  <py:match path="div[@class='sidebar-section']">
    <py:choose test="">
      <py:when test="select('p').__str__().find('This blog does not yet have an') != -1" />
      <py:otherwise><div class="sidebar-section">${select('*|text()')}</div></py:otherwise>
    </py:choose>
  </py:match>
  <py:match path="div[@class='sidebar-section']//span[@class='metainfo']|div[@class='sidebar-section last']//span[@class='metainfo']">
    <?python link = select('//@href').__str__().decode("utf-8") ?>
    <span class="metainfo"><a href="${link}"><img src="/chrome/common/feed.png" alt="RSS" /></a></span>
  </py:match>
  <py:match path="ul[@class='metainfo']//span[@class='metaupdated']"><?python updated = select('text()').__str__().decode("utf-8").strip().strip("()") ?><span class="metaupdatedtext">(${updated})</span><span class="metaupdated" title="${updated}">&nbsp;</span></py:match>
  <py:match path="div[@id='sidebar']">
    <py:choose test="">
      <py:when test="req.environ['PATH_INFO'].startswith('/blog/archive')"><div id="sidebar">${select('*|text()')}</div></py:when>
      <py:otherwise />
    </py:choose>
  </py:match>
  <py:if test="req.environ['PATH_INFO'].startswith('/blog') or req.environ['PATH_INFO'] == '/'">
    <?python import re ?>
    <py:match path="title">
      <title>${re.sub(r'^(Blog – |Blog: )', '', select('text()').__str__().decode("utf-8"))}</title>
    </py:match>
    <py:match path="div[@id='ctxtnav']">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2><ul>${select('ul/*')}<li><a href="/blog/archive" title="Browse blog posts">Browse Posts</a></li></ul><hr />
      </div>
    </py:match>
  </py:if>
  <py:match path="div[@id='ctxtnav']//li"><py:choose test="select('a').select('@href').__str__()"><py:when test="'/wiki/WikiStart'" /><py:when test="'/trac/wlanlj/wiki/WikiStart'" /><py:otherwise><li>${select('*|text()')}</li></py:otherwise></py:choose></py:match>
  <py:match path="div[@id='ctxtnav']//li[1]"><li class="first">${select('*|text()')}</li></py:match>
  <py:if test="req.environ['PATH_INFO'] == '/prefs'">
    <py:if test="req.authname != 'anonymous'">
      <py:match path="table">
        <table>
          ${select('*|text()')}
          <tr class="field">
            <th><label for="ticket-notification-optout">Ticket notifications opt-out:</label></th>
            <td><input type="hidden" name="ticket-notification-optout_cb" value="" /><input type="checkbox" id="ticket-notification-optout" name="ticket-notification-optout" checked="${req.session.get('ticket-notification-optout') or None}" /></td>
          </tr>
        </table>
      </py:match>
      <py:match path="p[@class='hint'][1]">
        <p class="hint">
          ${select('*|text()')} <strong>Email address is required</strong> for many functions of <a href="http://node.wlan-lj.net">node monitoring and deployment system</a>. You can find more information and guidelines <a href="/wiki/Podrobnosti/Razvoj/Trac#Noviuporabniki">here</a>.
        </p>
      </py:match>
    </py:if>
  </py:if>
  <py:if test="req.environ['PATH_INFO'] == '/register'">
    <py:match path="fieldset//p">
      <p class="hint">
        ${select('*|text()')} This information is also used for email notification and RSS feeds, for example. <strong>Email address is required</strong> for many functions of <a href="http://node.wlan-lj.net">node monitoring and deployment system</a>. You can find more information and guidelines <a href="/wiki/Podrobnosti/Razvoj/Trac#Noviuporabniki">here</a>.
      </p>
    </py:match>
    <py:match path="input[@type='submit']">
      <div class="buttons">
        <input type="submit" value="Create account" />
      </div>
    </py:match>
  </py:if>
</html>
