{% load i18n thumbnail %}

{% if object.view_option == "list" %}
    {% firstof object.title object.folder.name  %}

    <div class="cmsplugin_filer_folder_list" id="folder_{{ instance.id }}">
        {% if folder_children %}
        <p>{% trans "Folders" %}</p>
        <ul>
            {% for folder in folder_children %}
                <li>{{ folder }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if folder_files %}
        <p>{% trans "Files" %}</p>
        <ul>
            {% for files in folder_files %}
                <li>{{ files }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if folder_images %}
        <p>{% trans "Images" %}</p>
        <ul>
            {% for image in folder_images %}
                <li><img src="{% thumbnail image.file 32x32 crop=True upscale=True %}" width="32" height="32" alt="{{ image.label }}"></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% else %}
    {% for image in folder_images %}
        {% thumbnail image.file 200x200 crop=False upscale=False as thumbnail %}
        <a href="{{ image.image.url }}"><img src="{{ thumbnail.url }}" alt="{{ image.label }}"{% if thumbnail.width %} width="{{ thumbnail.width }}"{% endif %}{% if thumbnail.height %} height="{{ thumbnail.height }}"{% endif %}></a>
    {% endfor %}
{% endif %}
